{% extends "base.html" %}
{% load static from staticfiles %}
{% load mirror_status %}
{% load flags %}

{% block title %}{{ BRANDING_DISTRONAME }} - {{ url.url }} - URL Details{% endblock %}

{% block head %}<link rel="stylesheet" type="text/css" href="{% static "flags/fam.css" %}" media="screen, projection" />{% endblock %}

{% block content %}
<div class="box">
    <h2>URL Details: {{ url.url }}</h2>

    <table class="compact">
        <tr>
            <th>URL:</th>
            <td>{% if url.protocol.is_download %}<a href="{{ url.url }}">{{ url.url }}</a>{% else %}{{ url.url }}{% endif %}</td>
        </tr>
        <tr>
            <th>Mirror:</th>
            <td><a href="../">{{ url.mirror.name }}</a></td>
        </tr>
        <tr>
            <th>Protocol:</th>
            <td>{{ url.protocol }}</td>
        </tr>
        <tr>
            <th>Country:</th>
            <td class="country">{% country_flag url.country %}{{ url.country.name }}</td>
        </tr>
        <tr>
            <th>IPv4:</th>
            <td>{{ url.has_ipv4|yesno|capfirst }}</td>
        </tr>
        <tr>
            <th>IPv6:</th>
            <td>{{ url.has_ipv6|yesno|capfirst }}</td>
        </tr>
        {% if user.is_authenticated %}
        <tr>
            <th>Active:</th>
            <td>{{ url.active|yesno|capfirst }}</td>
        </tr>
        <tr>
            <th>Created:</th>
            <td>{{ url.created }}</td>
        </tr>
        <tr>
            <th>First Check:</th>
            <td>{{ url.logs.earliest.check_time }}</td>
        </tr>
        <tr>
            <th>Last Check:</th>
            <td>{{ url.logs.latest.check_time }}</td>
        </tr>
        {% endif %}
    </table>

    <h3>Check Logs</h3>
    {% include "mirrors/url_details_logs.html.jinja" %}
</div>
{% endblock %}

{% block script_block %}
{% load cdn %}{% jquery %}{% jquery_tablesorter %}
<script type="text/javascript" src="{% static "archweb.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#check_logs:has(tbody tr)").tablesorter(
        {widgets: ['zebra'], sortList: [[0,1]],
        headers: { 5: { sorter: 'mostlydigit' } } });
});
</script>
{% endblock %}
