{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ BRANDING_DISTRONAME }} - Developer Login{% endblock %}

{% block content %}
<div id="dev-login" class="box">
    <h2>Developer Login</h2>

    <form id="dev-login-form" method="post">{% csrf_token %}
        <fieldset>
            <legend>Please enter your credentials to login.</legend>
            {{ form.as_p }}
            <p><label></label><input type="submit" value="Login"/></p>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block script_block %}
{% load cdn %}{% jquery %}
<script type="text/javascript" src="{% static "archweb.js" %}"></script>
<script type="text/javascript">
    modify_attributes({
        '#id_username': {autocorrect: 'off', autocapitalize: 'off'}
    });
    $('#id_username').focus();
</script>
{% endblock %}
