{% extends "base.html" %}
{% block title %}{{ BRANDING_DISTRONAME }} - News: {{ news.title }}{% endblock %}

{% block content %}
<div itemscope itemtype="http://schema.org/Article" class="news-article box">
    <h2 itemprop="headline">{{ news.title }}</h2>
    <meta itemprop="dateCreated" content="{{ news.postdate|date:"Y-m-d" }}"/>
    <meta itemprop="datePublished" content="{{ news.postdate|date:"Y-m-d" }}"/>
    <meta itemprop="dateModified" content="{{ news.last_modified|date:"Y-m-d" }}"/>
    <meta itemprop="inLanguage" content="en"/>
    <meta itemprop="wordCount" content="{{ news.content|wordcount }}"/>
    <div style="display:none" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{ news.author.get_full_name|escape }}"/>
    </div>
    <div style="display:none" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="{{ BRANDING_DISTRONAME }}"/>
    </div>

    {% if perms.news.change_news %}
    <ul class="admin-actions">
        <li><a href="edit/" title="Edit this article">Edit News Item</a></li>
        {% if perms.news.delete_news %}
        <li><a href="delete/" title="Delete this article">Delete News Item</a></li>
        {% endif %}
    </ul>
    {% endif %}

    <p class="article-info">{{ news.postdate|date }} - {{ news.author.get_full_name }}</p>

    <div class="article-content" itemprop="articleBody">{{ news.html }}</div>
</div>
{% endblock %}
