{% load static from staticfiles %}{% load wiki %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ BRANDING_DISTRONAME }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "archweb.css" %}" media="screen, projection" />
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %}" />
    <link rel="apple-touch-icon" href="{% static "logos/apple-touch-icon-57x57.png" %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "logos/apple-touch-icon-72x72.png" %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "logos/apple-touch-icon-114x114.png" %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "logos/apple-touch-icon-144x144.png" %}" />
    <link rel="search" type="application/opensearchdescription+xml" href="{% url 'opensearch-packages' as osp %}{{ osp }}" title="{{ BRANDING_DISTRONAME }} Packages" />
    {% block head %}{% endblock %}
</head>
<body class="{% if user.is_authenticated %}devmode {% endif %}{% block bodyclass %}{% endblock %}">
    <div id="archnavbar" class="{% block navbarclass %}anb-home{% endblock %}">
        <div id="archnavbarlogo"><h1><a href="/" title="Return to the main page">{{ BRANDING_DISTRONAME }}</a></h1></div>
        <div id="archnavbarmenu">
            <ul id="archnavbarlist">
                <li id="anb-home"><a href="/" title="{{ BRANDING_SHORTNAME }} news, packages, projects and more">Home</a></li>
                <li id="anb-packages"><a href="/packages/" title="{{ BRANDING_SHORTNAME }} Packages Database">Packages</a></li>
		<!-- Free Culture or multimedia with mediagoblin -->
		<!-- Social with GNU Social, Diaspora or another, it needs consensus -->
                <li id="anb-wiki"><a href="{% wiki_url %}" title="Parabola and community documentations">Wiki</a></li>
                <li id="anb-bugs"><a href="{{ BUGTRACKER_URL }}" title="Report and track on labs">Labs</a></li>
		<!-- PUR -->
                <li id="anb-projects"><a href="{{ PROJECTS_URL }}" title="Our code">Projects</a></li>
                <li id="anb-download"><a href="{% url 'page-download' as pdl %}{{ pdl }}" title="Get {{ BRANDING_DISTRONAME }}">Download</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="archdev-navbar">
            {% if user.is_authenticated %}
                <ul>
                    <li><a href="{% url 'devel-index' %}" title="Developer Dashboard">Dashboard</a></li>
                    <li><a href="{% wiki_url 'DeveloperWiki' %}"
                        title="Developer Wiki">DevWiki</a></li>
                    <li><a href="{% url 'news-list' as newsl %}{{ newsl }}" title="Manage news articles">News</a></li>
                    <li><a href="/packages/signoffs/" title="Package signoffs">Signoffs</a></li>
                    <li><a href="/todo/" title="Developer todo lists">Todos</a></li>
                    <li><a href="{% url 'devel-clocks' %}" title="Developer world clocks">Dev Clocks</a></li>
                    <li><a href="{{ MAILMAN_BASE_URL }}/mailman/listinfo/dev/"
                        title="dev mailing list archives">Archives</a></li>
                    {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}" title="Django Admin Interface">Django Admin</a></li>
                    {% endif %}
                    <li><a href="/devel/profile/" title="Modify your account profile">Profile</a></li>
                    <li><a href="/logout/" title="Logout of the developer interface">Logout</a></li>
                </ul>
            {% endif %}
        </div>
        {% if messages %}
            <div id="sys-message" class="box">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
            <div id="content-left-wrapper">
                <div id="content-left">
                    {% block content_left %}{% endblock %}
                </div>
            </div>
            <div id="content-right">
                {% block content_right %}{% endblock %}
            </div>
        {% endblock %}
        <div id="footer">
            <p>Copyright © 2009-{% now "Y" %} Parabola Project. All content is
            released under the <a
              href="http://creativecommons.org/licenses/by-sa/3.0/"
              rel="license">cc by-sa 3.0 unported</a> license.</p>
            <p>Website software and layout is derivative of archweb, 
               Copyright © 2002-{% now "Y" %} <a href="mailto:jvinet@zeroflux.org"
                title="Contact Judd Vinet">Judd Vinet</a> and <a href="mailto:aaron@archlinux.org"
                title="Contact Aaron Griffin">Aaron Griffin</a>.</p>
        </div>
    </div>
    <script type="application/ld+json">
    {
       "@context": "http://schema.org",
       "@type": "WebSite",
       "url": "{{ domain }}/",
       "potentialAction": {
         "@type": "SearchAction",
         "target": "{{ domain }}/packages/?q={search_term}",
         "query-input": "required name=search_term"
       }
    }
    </script>
    {% block script_block %}{% endblock %}
</body>
</html>
