{% extends "base.html" %}

{% block title %}{{ BRANDING_DISTRONAME }} - Test Result Entry{% endblock %}

{% block content %}
<div class="box">
    <h2>{{ BRANDING_SHORTNAME }} Releng Testbuild Feedback Entry</h2>

    <p>This page allows you to submit feedback after testing an {{ BRANDING_SHORTNAME }} installation
    using a release engineering testbuild.  Mark all the options you used during the
    installation; at the end you can specify whether everything went OK.  Be
    sure to only denote a successful install after having checked the
    installation properly.  Some options require you to check several things (such as
    config files), this will be mentioned alongside the option.</p>
    <p>There is also an overview of all feedback on the
    <a href="{% url 'releng-test-overview' %}">results page</a>.  Once we have
    builds that are properly tested (enough successful feedback for all
    important features of the ISO or a slightly earlier ISO), we can release new
    official media.</p>

    <div id="releng-feedback"> <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}
