{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ BRANDING_DISTRONAME }} - {{ pkg.pkgname }} {{ pkg.full_version }} ({{ pkg.arch.name }}){% endblock %}
{% block navbarclass %}anb-packages{% endblock %}

{% block content %}
{% include "packages/details.html.jinja" %}
{% endblock %}

{% block script_block %}
{% load cdn %}{% jquery %}
<script type="text/javascript" src="{% static "archweb.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
        ajaxifyFiles();
        collapseDependsList("#pkgdepslist");
        collapseDependsList("#pkgreqslist");
        collapseRelatedTo(".relatedto");
});
</script>
{% endblock %}
