{% extends "base.html" %}
{% block title %}{{ BRANDING_DISTRONAME }} - {{ pkg.pkgname }} {{ pkg.full_version }} ({{ pkg.arch.name }}) - File List{% endblock %}
{% block navbarclass %}anb-packages{% endblock %}

{% block content %}
<div id="pkgdetails" class="box">

    <h2>{{ pkg.pkgname }} {{ pkg.full_version }} File List</h2>
    <p>Package has {{ files_count }} file{{ files_count|pluralize }} and {{ dir_count }} director{{ dir_count|pluralize:"y,ies" }}.</p>
    <p><a href="{{ pkg.get_absolute_url }}">Back to Package</a></p>
    <div id="metadata"><div id="pkgfilelist">
        {% include "packages/files_list.html.jinja" %}
    </div></div>

</div>
{% endblock %}
