{% extends "base.html" %}
{% load package_extras %}

{% block title %}{{ BRANDING_DISTRONAME }} - Flag Package - {{ pkg.pkgname }} {{ pkg.full_version }} ({{ pkg.arch.name }}){% endblock %}
{% block head %}<meta name="robots" content="noindex"/>{% endblock %}
{% block navbarclass %}anb-packages{% endblock %}

{% block content %}
<div id="pkg-flagged-error" class="box">
    <h2>Package {{ pkg.pkgname }} {{ pkg.full_version }} ({{ pkg.arch.name }}) already flagged</h2>

    <p><strong>{{pkg.pkgname}}</strong> has already been flagged out-of-date.</p>

    <p>You can return to the package details page for {% pkg_details_link pkg %}.</p>
</div>
{% endblock %}
