{% load static from staticfiles %}<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Flagging Packages</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %}" />
        <style type="text/css" media="screen, projection">
            body { background: #f6f9fc; color: #222; font-family: sans-serif; }
            a:link { text-decoration: none; color: #07b; }
            a:visited { color: #666; }
            a:hover { text-decoration: underline; color: #666; }
        </style>
    </head>
    <body>
        <h3>Flagging Packages</h3>
        <p>If you notice that a package is out-of-date (i.e., there is a newer
        <strong>stable</strong> release available), then please notify us by
        using the <strong>Flag</strong> button in the <em>Package Details</em>
        screen.  This will notify the maintainer(s) responsible for that
        package so they can update it. If the package is unmaintained, the
        notification will be sent to a developer mailing list.</p>

        <p>The message box portion of the flag utility is meant
        for short messages only. If you need more than 200 characters for your
        message, then file a bug report, email the maintainer directly, or send
        an email to the <a target="_blank" href="{{ MAILMAN_BASE_URL }}/mailman/listinfo/dev"
            title="Visit the dev mailing list">dev mailing list</a>
        with your additional text.</p>

        <p><strong>Note:</strong> Please do <em>not</em> use this facility if the
        package is broken! Use the <a target="_blank" href="{{ BUGTRACKER_URL }}"
            title="{{ BRANDING_DISTRONAME }} Bugtracker">bugtracker</a> instead.</p>
    </body>
</html>
