{% extends "base.html" %}
{% load wiki %}
{% block title %}{{ BRANDING_DISTRONAME }} - About{% endblock %}
{% block content %}
<div class="box">
    <h2 class="title">Parabola Presentation</h2>

    <p>In 2009 we started a project to offer the Free Software
    community the chance of using an Arch system completely
    freed from non-Free software.</p>

    <p>Today we have repositories and installable images of this wonderful
    GNU/Linux distribution from which we have eliminated the non-Free software
    contained in its official repositories and which we have replaced with Free
    alternatives whenever we could.</p>
    
    <p>The first example is Linux-libre, the kernel without blobs nor non-Free
    firmware. Followed by GNU IceCat, the Free fork of Mozilla Firefox that
    doesn't recommend non-Free addons, and that in our case neither recommends
    services that spy on you like the Google search engine.</p>

    <h3>Why you should use Parabola GNU/Linux-libre</h3>

    <p>Parabola GNU/Linux-libre equals software freedom plus all power to the users. GNU plus
    ArchWay. With a continuosly updated system, simple to manage, simple to
    package, you can build your own operating system in the way you want and
    learn a lot along the way.</p>

    <h3>Free the GNU/Linux distribution of Arch</h3>

    <p>Following the minimalist, KISS, spirit of Arch, we have managed to
    achieve its freedom in a simple way. To Free your Arch installation,
    just install our Free repositories list and update your system.</p>
    
    <p>No reinstallation needed.</p>

    <h3>Participate</h3>

    <p>Boring tasks are always available. We want to start new projects. We want
    to help people have servers of their own, with services of their own, with
    Parabola Social. We want people to remix their own Arch system and share it
    with the rest of the world.</p>
    
    <p>We want Free Software with a social utility for a Free society.</p>
    
    <p>But we need your help. If all of us share a little of the boring work,
    we'll have more time to do the really fun stuff.</p>
    
    <p>Remaining tasks:</p>
      
    <ul>
        <li>Audit repositories. If you find a non-Free package, or a package
        with non-Free parts, report it as a bug.</li>

        <li>Host repositories. Mirrors are not abundant.</li>
        
        <li>Take a look at our <a href="{% wiki_url 'TODO' %}" title="TODO">TODO list</a></li>
    </ul> 

</div>
<br /><br />
{% endblock %}

