{% extends "base.html" %}{% load wiki %}
{% block title %}{{ BRANDING_DISTRONAME }} - RSS Feeds{% endblock %}

{% block content %}
<div id="rss-feeds" class="box">

    <h2>RSS Feeds</h2>

    <p>Several RSS feeds are available for consumption from the {{ BRANDING_SHORTNAME }} website.
    The majority of these are package-related and allow feeds to be customized
    for the updates you care about.</p>

    <h3>News and Activity Feeds</h3>

    <p>Grab the <a href="/feeds/news/" class="rss" title="{{BRANDING_DISTRONAME}} news feed">news item feed</a>
    to keep up-to-date with the latest news from the {{BRANDING_DISTRONAME}} development staff.</p>

    <p>The <a href="{% wiki_url 'Special:RecentChanges?feed=rss' %}"
    title="{{ BRANDING_WIKINAME }} Recent Changes feed" class="rss">{{ BRANDING_WIKINAME }}: Recent changes feed</a>
    is also available to track document changes from the <a href="{% wiki_url %}"
    title="{{ BRANDING_WIKINAME }} community documentation">{{ BRANDING_WIKINAME }}</a>.</p>

    <h3>Package Feeds</h3>

    <p>If you are interested in <a href="/feeds/packages/" class="rss"
        title="{{ BRANDING_DISTRONAME }} package updates feed">all package updates</a>,
    then grab this feed. Note that when a package is updated for multiple
    architectures, you will see each individual update show up here.
    Alternatively, you can select a packages feed from the below table that is
    more tailored to your specific needs. If you are only interested in one
    architecture, there are a variety of feeds you can choose from. Note that
    feeds for a specific architecture, such as 'i686', will also include all
    package updates for 'any' (architecture-independent) packages.</p>

    <table class="pretty2">
        <thead>
            <tr>
                <th></th>
                <th>All Arches</th>
                {% for arch in arches %}
                <th>{{ arch }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>All Repos</strong></td>
                <td><a href="/feeds/packages/" class="rss">Feed</a></td>
                {% for arch in arches %}
                <td><a href="/feeds/packages/{{ arch }}/" class="rss">Feed</a></td>
                {% endfor %}
            </tr>
            {% for repo in repos %}
            <tr>
                <td><strong>{{ repo }}</strong></td>
                <td><a href="/feeds/packages/all/{{ repo|lower }}/" class="rss">Feed</a></td>
                {% for arch in arches %}
                <td><a href="/feeds/packages/{{ arch }}/{{ repo|lower }}/" class="rss">Feed</a></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Release Feed</h3>

    <p>Grab the <a href="/feeds/releases/" class="rss" title="{{BRANDING_DISTRONAME}} release feed">ISO release feed</a>
    if you want to help seed the ISO release torrents as they come out.</p>

    <h3>Development Feeds</h3>

    <p>Subscribe to any of the following to track bug tickets and feature
    requests from the <a href="{{BUGTRACKER_URL}}" title="{{BRANDING_DISTRONAME}} Bugs">{{BRANDING_DISTRONAME}} Bugtracker</a>:</p>

    <table class="pretty2">
        <thead>
            <tr>
                <th>Project</th>
                <th>Activity</th>
                <th>Issues</th>
                <th>News</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>All Projects</td>
                <td><a href="https://labs.parabola.nu/activity.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/issues.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/news.atom" class="rss">Feed</a></td>
            </tr><tr>
                <td>Art4Parabola</td>
                <td><a href="https://labs.parabola.nu/projects/art4parabola/activity.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/art4parabola/issues.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/art4parabola/news.atom" class="rss">Feed</a></td>
            </tr><tr>
                <td>Documentation</td>
                <td><a href="https://labs.parabola.nu/projects/documentation/activity.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/documentation/issues.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/documentation/news.atom" class="rss">Feed</a></td>
            </tr><tr>
                <td>Installation media (i686 and x86_64)</td>
                <td><a href="https://labs.parabola.nu/projects/isos/activity.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/isos/issues.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/isos/news.atom" class="rss">Feed</a></td>
            </tr><tr>
                <td>Libretools</td>
                <td><a href="https://labs.parabola.nu/projects/libretools/activity.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/libretools/issues.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/libretools/news.atom" class="rss">Feed</a></td>
            </tr><tr>
                <td>Packages (i686 and x86_64)</td>
                <td><a href="https://labs.parabola.nu/projects/issue-tracker/activity.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/issue-tracker/issues.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/issue-tracker/news.atom" class="rss">Feed</a></td>
            </tr><tr>
                <td>Ports</td>
                <td><a href="https://labs.parabola.nu/projects/ports/activity.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/ports/issues.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/ports/news.atom" class="rss">Feed</a></td>
            </tr><tr>
                <td>Port: Loongson 2F (mips64el)</td>
                <td><a href="https://labs.parabola.nu/projects/mips64el/activity.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/mips64el/issues.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/mips64el/news.atom" class="rss">Feed</a></td>
            </tr><tr>
                <td>Servers</td>
                <td><a href="https://labs.parabola.nu/projects/servers/activity.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/servers/issues.atom" class="rss">Feed</a></td>
                <td><a href="https://labs.parabola.nu/projects/servers/news.atom" class="rss">Feed</a></td>
            </tr>
        </tbody>
    </table>

 </div>
{% endblock %}
