{% extends "base.html" %}
{% load cache %}
{% load static from staticfiles %}
{% load wiki %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="{{ BRANDING_DISRONAME }} News Updates" href="/feeds/news/" />
<link rel="alternate" type="application/rss+xml" title="{{ BRANDING_DISRONAME }} Package Updates" href="/feeds/packages/" />
{% endblock %}

{% block content_left %}
{% cache 62 main-page-left secure %}
<div id="intro" class="box">
    <h2>A fully free, simple, and lightweight operating system</h2>

    <p>You've reached the website of the Parabola&nbsp;GNU/Linux-libre operating
    system.  The Parabola project is a community driven effort to provide a
    fully Free (as in
    <a href="https://www.gnu.org/philosophy/free-sw">freedom</a>) operating
    system that is simple and lightweight.</p>

    <p>Derived from Arch (the GNU/Linux distribution), Parabola provides packages from it that meet the
    <a href="http://www.gnu.org/distros/free-system-distribution-guidelines.html">Free
    System Distribution Guidelines (FSDG)</a> and replacements for the packages
    that don't meet this requirement.  Packages are provided for the i686,
    x86_64, and armv7h architectures.</p>

    <p>Our community is friendly and helpful.  Please hop on
    <a href="irc://chat.freenode.net#parabola">IRC channel</a> and check out our
    <a href="https://lists.parabola.nu/mailman/listinfo/">mailing
    lists</a> to get your feet wet. Also glance through our
    <a href="https://wiki.parabola.nu/">wiki</a> if you want to learn
    more about Parabola.</p>

    <p class="readmore"><a href="{% url 'page-about' %}"
        title="Learn more about {{ BRANDING_DISTRONAME }}">Learn more...</a></p>
</div>

<div id="news">
    <h3>
        <a href="{% url 'news-list' %}" title="Browse the news archives">Latest News</a>
        <span class="arrow"></span>
    </h3>

    <a href="/feeds/news/" title="{{ BRANDING_SHORTNAME }} News RSS Feed"
        class="rss-icon"><img width="16" height="16" src="{% static "rss.png" %}" alt="RSS Feed" /></a>

    {% for news in news_updates %}{% if forloop.counter0 < 5 %}
    <h4>
        <a href="{{ news.get_absolute_url }}"
            title="View full article: {{ news.title }}">{{ news.title }}</a>
    </h4>
    <p class="timestamp">{{ news.postdate|date }}</p>
    <div class="article-content">
        {% if forloop.counter0 == 0 %}{{ news.html|truncatewords_html:300 }}
        {% else %}{{ news.html|truncatewords_html:100 }}{% endif %}
    </div>
    {% else %}{% if forloop.counter0 == 5 %}
    <h3>
        <a href="{% url 'news-list' %}"
            title="Browse the news archives">Older News</a>
        <span class="arrow"></span>
    </h3>
    <dl class="newslist">
    {% endif %}
        <dt>{{ news.postdate|date }}</dt>
        <dd>
            <a href="{{ news.get_absolute_url }}"
                title="View full article: {{ news.title }}">{{ news.title }}</a>
        </dd>
    {% if forloop.last %}</dl>{% endif %}
    {% endif %}{% endfor %}
</div>
{% endcache %}
{% endblock %}

{% block content_right %}
{% cache 59 main-page-updates user.is_authenticated %}
<div id="pkgsearch" class="widget">
    <form id="pkgsearch-form" method="get" action="/packages/">
        <fieldset>
            <label for="pkgsearch-field">Package Search:</label>
            <input id="pkgsearch-field" type="text" name="q" size="18" maxlength="200" />
        </fieldset>
    </form>
</div>

<div id="pkg-updates" class="widget box">
    <h3>Recent Updates <span class="more">(<a href="/packages/?sort=-last_update"
            title="Browse all of the latest packages">more</a>)</span></h3>

    <a href="/feeds/packages/" title="{{ BRANDING_SHORTNAME }} Package Updates RSS Feed"
        class="rss-icon"><img width="16" height="16" src="{% static "rss.png" %}" alt="RSS Feed" /></a>

    <table>
        {% for update in pkg_updates %}
        <tr>
            <td class="pkg-name"><span class="{{ update.classes|join:' ' }}">{{ update.pkgbase }} {{ update.version }}</span></td>
            <td class="pkg-arch">
                {% for pkg in update.package_links %}<a href="{{ pkg.get_absolute_url }}"
                    title="Details for {{ pkg.pkgname }} [{{ pkg.repo|lower }}]">{{ pkg.arch }}</a>{% if not forloop.last %}/{% endif %}{% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endcache %}

{% cache 115 main-page-right secure %}
<div id="nav-sidebar" class="widget">
    <h4>Documentation</h4>
    <ul>
        <li><a href="{% wiki_url %}"
            title="Community documentation">Wiki</a></li>
        <li><a href="{% wiki_url "Beginners'_guide" %}"
            title="A good place to start for beginners">Beginners' Guide</a></li>
        <li><a href="{% wiki_url 'Installation_Guide' %}"
            title="Installation guide">Installation Guide</a></li>
        <li><a href="{% wiki_url 'ARM_Installation_Guide' %}"
            title="ARM Installation guide">ARM Installation Guide</a></li>
        <li><a href="{% wiki_url 'Migration_from_other_distributions' %}"
            title="Free your distro installation">Migration from other distros</a></li>
    </ul>

    <h4>Free Culture</h4>
    <ul>
        <li><a href="{% wiki_url 'Multimedia' %}"
            title="Watch and download multimedia files">Multimedia</a></li>
        <li><a href="{% wiki_url 'Comics' %}"
            title="Watch and download comics">Comics</a></li>
        <li><a href="{% wiki_url 'Wallpapers' %}"
            title="Download wallpapers">Wallpapers</a></li>
    </ul>

    <h4>Community</h4>
    <ul>
        <li><a href="{{ MAILMAN_BASE_URL }}/mailman/listinfo/"
            title="Community and developer mailing lists">Mailing Lists</a></li>
        <li><a href="{% wiki_url 'IRC_channels' %}"
            title="Official and regional IRC communities">IRC Channels</a></li>
        <li><a href="https://gnusocial.net/group/parabola"
            title="Parabola at gnusocial.net">GNU social group</a></li>
        <li><a href="https://www.reddit.com/r/parabola/"
            title="Parabola at reddit.com">Reddit forum</a></li>
    </ul>

    <h4>Support</h4>
    <ul>
        <li><a href="{% url 'page-donate' %}"
            title="Help support {{ BRANDING_DISTRONAME }}">Donate</a></li>
    </ul>

    <h4>Tools</h4>
    <ul>
        <li><a href="{% url 'mirrorlist' %}"
            title="Get a custom mirrorlist from our database">Mirrorlist Updater</a></li>
        <li><a href="{% url 'mirror-list' %}"
            title="See a listing of all available mirrors">Mirror List</a></li>
        <li><a href="{% url 'mirror-status' %}"
            title="Check the status of all known mirrors">Mirror Status</a></li>
    </ul>

    <h4>Development</h4>
    <ul>
        <li><a href="{{ PROJECTS_URL }}"
            title="Official {{BRANDING_SHORTNAME}} projects (git)">Projects in Git</a></li>
{% comment %}
        <li><a href="{% url 'page-svn' %}"
            title="View SVN entries for packages">SVN Repositories</a></li>
        <li><a href="{% wiki_url 'DeveloperWiki' %}"
            title="Developer Wiki articles">Developer Wiki</a></li>
{% endcomment %}
        <li><a href="/groups/"
            title="View the available package groups">Package Groups</a></li>
        <li><a href="/todo/"
            title="Hacker Todo Lists">Todo Lists</a></li>
        <li><a href="{% url 'releng-release-list' %}"
            title="Release Engineering ISO listing">ISO Release List</a></li>
        <li><a href="{% url 'visualize-index' %}"
            title="View visualizations">Visualizations</a></li>
        <li><a href="{% url 'packages-differences' %}"
            title="See differences in packages between available architectures">Differences Reports</a></li>
    </ul>

    <h4>People</h4>
    <ul>
        {% for group in staff_groups %}
        <li><a href="{% url 'people' group.slug %}" title="More info about {{ group.name }}">{{ group.name }}</a></li>
        {% endfor %}
        <li><a href="{% url 'page-keys' %}"
            title="Package/Database signing master keys">Signing Master Keys</a></li>
    </ul>

    <h4>More Resources</h4>
    <ul>
        <li><a href="{% wiki_url 'Media' %}"
            title="{{ BRANDING_DISTRONAME }} in the media">Press Coverage</a></li>
        <li><a href="{% url 'news-list' %}" title="News Archives">News Archives</a></li>
        <li><a href="/feeds/" title="Various RSS Feeds">RSS Feeds</a></li>
    </ul>
</div>

{% comment %}
<div id="home-donate-button" class="widget">
donate button would go here
</div>
{% endcomment %}

<div id="arch-sponsors" class="widget">
    <a href="https://ceata.org">
      <img src="{% static "ceata-parabola.png" %}"
           alt="Fundația Ceata - Parabola's fiscal sponsor"
           title="Fundația Ceata - Parabola's fiscal sponsor" />
    </a>

    <a href="https://www.gandi.net">
      <img src="{% static "gandi.png" %}"
           alt="Gandi.net - Parabola's domain name sponsor"
           title="Gandi.net - Parabola's domain name sponsor" />
    </a>

    <a href="https://1984.is">
      <img src="{% static "1984.png" %}"
           alt="1984 - Parabola's server hosting sponsor"
           title="1984 - Parabola's server hosting sponsor" />
    </a>

    <a href="https://www.robofun.ro">
      <img src="{% static "robofun.jpg" %}"
           alt="Robofun - Parabola's ARM port sponsor"
           title="Robofun - Parabola's ARM port sponsor" />
    </a>
</div>
{% endcache %}
{% endblock %}

{% block script_block %}
<div id="konami" style="display:none;"></div>

{% load cdn %}{% jquery %}
<script type="text/javascript">
$(document).ready(function() {
    $.ajax({ url: "{% static "homepage.js" %}", cache: true, dataType: "script", success: function() { setupTypeahead(); setupKonami("{% static "vector_tux.png" %}"); } });
});
</script>
{% endblock %}
